<!DOCTYPE html>
<html lang="en" dir="ltr">


<!-- Mirrored from tutorio-bootstrap.frontendmatter.com/student-quiz-result-details.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 09 Jul 2019 02:22:49 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Quiz Result</title>

    <!-- Prevent the demo from appearing in search engines -->
    <meta name="robots" content="noindex">

    <!-- Perfect Scrollbar -->
    <link type="text/css" href="/assets/vendor/perfect-scrollbar.css" rel="stylesheet">

    <!-- Fix Footer CSS -->
    <link type="text/css" href="/assets/vendor/fix-footer.css" rel="stylesheet">

    <!-- Material Design Icons -->
    <link type="text/css" href="/assets/css/material-icons.css" rel="stylesheet">
    <link type="text/css" href="/assets/css/material-icons.rtl.css" rel="stylesheet">

    <!-- Font Awesome Icons -->
    <link type="text/css" href="/assets/css/fontawesome.css" rel="stylesheet">
    <link type="text/css" href="/assets/css/fontawesome.rtl.css" rel="stylesheet">

    <!-- Preloader -->
    <link type="text/css" href="/assets/css/preloader.css" rel="stylesheet">
    <link type="text/css" href="/assets/css/preloader.rtl.css" rel="stylesheet">

    <!-- App CSS -->
    <link type="text/css" href="/assets/css/app.css" rel="stylesheet">
    <link type="text/css" href="/assets/css/app.rtl.css" rel="stylesheet">





</head>

<body class="layout-navbar-mini-fixed-bottom">
    <div class="preloader">
        <div class="sk-double-bounce">
            <div class="sk-child sk-double-bounce1"></div>
            <div class="sk-child sk-double-bounce2"></div>
        </div>
    </div>

    <!-- Header Layout -->
    <div class="mdk-header-layout js-mdk-header-layout">

        <!-- Header -->

        <%- include('../layout/header-dashboard', {avatar: infoStudent.user.avatar}); %>

        <!-- // END Header -->

        <!-- Header Layout Content -->
        <div class="mdk-header-layout__content page-content ">
            <div class="navbar navbar-list navbar-submenu navbar-light border-0 navbar-expand-sm" style="white-space: nowrap;">
                <div class="container page__container">
                    <nav class="nav navbar-nav">
                        <div class="nav-item navbar-list__item">
                            <a href="/course/<%= course._id %>" class="nav-link"><i class="material-icons icon--left">keyboard_backspace</i> Back to Course</a>
                        </div>
                        <div class="nav-item navbar-list__item">
                            <div class="d-flex align-items-center flex-nowrap">
                                <div class="mr-16pt">
                                    <a href="/course/<%= course._id %>"><img src="/upload/images/<%= course.avatar %>" width="40" alt="Angular" class="rounded"></a>
                                </div>
                                <div class="flex">
                                    <a href="/course/<%= course._id %>" class="card-title text-body mb-0"><%= course.name %></a>
                                    <p class="lh-1 d-flex align-items-center mb-0">
                                        <span class="text-50 small font-weight-bold mr-8pt"><%= course.teacher.fullname %></span>
                                        <!-- <span class="text-50 small">Software Engineer and Developer</span> -->
                                    </p>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
            
            <div class="mdk-box bg-dark mdk-box--bg-gradient-primary js-mdk-box mb-0" data-effects="blend-background">
                <div class="mdk-box__content">
                    <div class="py-64pt text-center text-sm-left">
                        <div class="container d-flex flex-column justify-content-center align-items-center">
                            <h1 class="text-white mb-24pt" id="your-score"></h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="navbar navbar-expand-sm navbar-light navbar-submenu navbar-list p-0 m-0 align-items-center">
                <div class="container page__container">
                    <ul class="nav navbar-nav flex align-items-sm-center">
                        <li class="nav-item navbar-list__item" id="score"> </li>
                        <!-- <li class="nav-item navbar-list__item">
                            <i class="material-icons text-muted icon--left">schedule</i>
                            12 minutes
                        </li>
                        <li class="nav-item navbar-list__item">
                            <i class="material-icons text-muted icon--left">assessment</i>
                            Intermediate
                        </li> -->
                    </ul>
                </div>
            </div>



            <div class="container page__container">
                <% let i = 0; list_question.forEach(Question => { i+= 1; %>
                    
                    <div class="border-left-2 page-section pl-32pt">

                        <div class="d-flex align-items-center page-num-container">
                            <div class="page-num"><%= i %></div>
                            <h4>Question <%= i %> of <%= list_question.length %></h4>
                        </div>
    
                        <p class="text-70 mb-32pt mb-lg-48pt"><%= Question.question %></p>
    
                        <ul class="list-quiz mb-32pt">
                            <li class="list-quiz-item">
                                <span class="list-quiz-badge answer-A">A</span>
                                <span class="list-quiz-text"><%= Question.list_answer[0] %></span>
                            </li>
                            <li class="list-quiz-item">
                                <span class="list-quiz-badge answer-C">B</span>
                                <span class="list-quiz-text"><%= Question.list_answer[1] %></span>
                            </li>
                            <li class="list-quiz-item">
                                <span class="list-quiz-badge answer-B">C</span>
                                <span class="list-quiz-text"><%= Question.list_answer[2] %></span>
                            </li>
                            <li class="list-quiz-item">
                                <span class="list-quiz-badge answer-D">D</span>
                                <span class="list-quiz-text"><%= Question.list_answer[3] %></span>
                            </li>
                        </ul>
    
                    </div>
                <% });%>
            </div>



            <% include ../layout/footer %>
        </div>
        <!-- // END Header Layout Content -->

    </div>
    <!-- // END Header Layout -->

    <!-- Modal -->
    

    <!-- jQuery -->
    <script src="/assets/vendor/jquery.min.js"></script>

    <!-- Bootstrap -->
    <script src="/assets/vendor/popper.min.js"></script>
    <script src="/assets/vendor/bootstrap.min.js"></script>

    <!-- Perfect Scrollbar -->
    <script src="/assets/vendor/perfect-scrollbar.min.js"></script>

    <!-- DOM Factory -->
    <script src="/assets/vendor/dom-factory.js"></script>

    <!-- MDK -->
    <script src="/assets/vendor/material-design-kit.js"></script>

    <!-- Fix Footer -->
    <script src="/assets/vendor/fix-footer.js"></script>

    <!-- Chart.js -->
    <script src="/assets/vendor/Chart.min.js"></script>

    <!-- App JS -->
    <script src="/assets/js/app.js"></script>

    <!-- Highlight.js -->
    <script src="/assets/js/hljs.js"></script>

    <!-- App Settings (safe to remove) -->
    <script src="/assets/js/app-settings.js"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>

    <script>
            var result_answer = JSON.parse(localStorage.getItem("boolean_answer"));
            var your_answer = JSON.parse(localStorage.getItem("answer"));
            let your_score = 0;
            let total_score = result_answer.length * 10;
            for(let i=0; i<your_answer.length; i++) {
                if(result_answer[i] == true){
                    your_score += 10;
                    if(your_answer[i] == "A"){
                    document.querySelectorAll('.answer-A')[i].classList.add('list-quiz-badge-success');
                    } else if( your_answer[i] == "B"){
                        document.querySelectorAll('.answer-B')[i].classList.add('list-quiz-badge-success');
                    } else if( your_answer[i] == "C"){
                        document.querySelectorAll('.answer-C')[i].classList.add('list-quiz-badge-success');
                    } else{
                        document.querySelectorAll('.answer-D')[i].classList.add('list-quiz-badge-success');
                    }
                } else{
                    if(your_answer[i] == "A"){
                    document.querySelectorAll('.answer-A')[i].classList.add('list-quiz-badge-error');
                    } else if( your_answer[i] == "B"){
                        document.querySelectorAll('.answer-B')[i].classList.add('list-quiz-badge-error');
                    } else if( your_answer[i] == "C"){
                        document.querySelectorAll('.answer-C')[i].classList.add('list-quiz-badge-error');
                    } else{
                        document.querySelectorAll('.answer-D')[i].classList.add('list-quiz-badge-error');
                    }
                }
            }
            document.getElementById('your-score').innerHTML = "You score: " + your_score;
            document.getElementById('score').innerHTML = `${your_score}/${total_score} Score`
    </script>


</body>


<!-- Mirrored from tutorio-bootstrap.frontendmatter.com/student-quiz-result-details.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 09 Jul 2019 02:22:49 GMT -->
</html>