<!DOCTYPE html>
<html lang="en" dir="ltr">


<!-- Mirrored from tutorio-bootstrap.frontendmatter.com/student-take-lesson.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 09 Jul 2019 02:22:49 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Student Take Lesson</title>

    <!-- Prevent the demo from appearing in search engines -->
    <meta name="robots" content="noindex">

    <!-- Perfect Scrollbar -->
    <link type="text/css" href="/assets/vendor/perfect-scrollbar.css" rel="stylesheet">

    <!-- Fix Footer CSS -->
    <link type="text/css" href="/assets/vendor/fix-footer.css" rel="stylesheet">

    <!-- Material Design Icons -->
    <link type="text/css" href="/assets/css/material-icons.css" rel="stylesheet">
    <link type="text/css" href="/assets/css/material-icons.rtl.css" rel="stylesheet">

    <!-- Font Awesome Icons -->
    <link type="text/css" href="/assets/css/fontawesome.css" rel="stylesheet">
    <link type="text/css" href="/assets/css/fontawesome.rtl.css" rel="stylesheet">

    <!-- Preloader -->
    <link type="text/css" href="/assets/css/preloader.css" rel="stylesheet">
    <link type="text/css" href="/assets/css/preloader.rtl.css" rel="stylesheet">

    <!-- App CSS -->
    <link type="text/css" href="/assets/css/app.css" rel="stylesheet">
    <link type="text/css" href="/assets/css/app.rtl.css" rel="stylesheet">





</head>

<body class="layout-navbar-mini-fixed-bottom">

    <div class="preloader">
        <div class="sk-double-bounce">
            <div class="sk-child sk-double-bounce1"></div>
            <div class="sk-child sk-double-bounce2"></div>
        </div>
    </div>

    <!-- Header Layout -->
    <div class="mdk-header-layout js-mdk-header-layout">

        <!-- Header -->

        <% include ../layout/header-dashboard %>

        <!-- // END Header -->

        <!-- Header Layout Content -->
        <div class="mdk-header-layout__content page-content ">

            <div class="navbar navbar-list navbar-submenu navbar-light border-0 navbar-expand-sm" style="white-space: nowrap;">
                <div class="container flex-column flex-sm-row">
                    <nav class="nav navbar-nav navbar-list__item">
                        <div class="nav-item">
                            <div class="media flex-nowrap">
                                <div class="media-left mr-16pt">
                                    <a href="student-take-course.html"><img src="/upload/images/<%= lesson.course.avatar %>" width="40" alt="Angular" class="rounded"></a>
                                </div>
                                <div class="media-body">
                                    <a href="student-take-course.html" class="card-title text-body mb-0"><%= lesson.title %></a>
                                    <p class="lh-1 d-flex align-items-center mb-0">
                                        <span class="text-50 small font-weight-bold mr-8pt"><%= lesson.course.teacher.fullname %></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </nav>
                    <ul class="navbar-list__item nav navbar-nav ml-sm-auto align-items-center align-items-sm-end">
                        <li class="nav-item active ml-sm-16pt">
                            <a href="#" class="nav-link">Video</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Downloads</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Notes</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Discussions</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="bg-gradient-primary pb-lg-64pt py-32pt">
                <div class="container">
                    <nav class="course-nav">
                        <a href="#" data-toggle="tooltip" data-placement="bottom" data-title="Getting Started with Angular: Introduction"><span class="material-icons text-primary">check_circle</span></a>
                        <a data-toggle="tooltip" data-placement="bottom" data-title="Getting Started with Angular: Introduction to TypeScript" class="active" href="#"><span class="material-icons">account_circle</span></a>
                        <a data-toggle="tooltip" data-placement="bottom" data-title="Getting Started with Angular: Comparing Angular to AngularJS" href="#"><span class="material-icons">play_circle_outline</span></a>
                        <a data-toggle="tooltip" data-placement="bottom" data-title="Quiz: Getting Started with Angular" href="student-take-quiz.html"><span class="material-icons">hourglass_empty</span></a>
                    </nav>
                    <div class="js-player embed-responsive embed-responsive-16by9 mb-32pt">
                        <div class="player embed-responsive-item">
                            <div class="player__content">
                                <div class="player__image" style="--player-image: url(/assets/images/illustration/player.svg)"></div>
                                <a href="#" class="player__play">
                                    <span class="material-icons">play_arrow</span>
                                </a>
                            </div>
                            <div class="player__embed d-none">
                                <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/97243285?title=0&amp;byline=0&amp;portrait=0" allowfullscreen=""></iframe>
                            </div>
                        </div>
                    </div>

                    <div class="d-flex flex-wrap align-items-end mb-16pt">
                        <h1 class="text-white flex m-0"><%= lesson.title %></h1>
                        <!-- <p class="h1 text-white-50 font-weight-light m-0">50:13</p> -->
                    </div>

                    <p class="hero__lead measure-hero-lead text-white-50 mb-24pt"><%= lesson.description %></p>

                    <a href="#" class="btn btn-white">Resume lesson</a>
                </div>
            </div>
            <div class="navbar navbar-expand-sm navbar-submenu navbar-light navbar-list p-0 m-0 align-items-center">
                <div class="container page__container">
                    <ul class="nav navbar-nav flex align-items-sm-center">
                        <li class="nav-item navbar-list__item">
                            <div class="media align-items-center">
                                <span class="media-left mr-16pt">
                                    <img src="/avatar/<%= lesson.course.teacher.avatar %>" width="40" alt="avatar" class="rounded-circle">
                                </span>
                                <div class="media-body">
                                    <a class="card-title m-0" href="/profile/lesson.course.teacher._id"><%= lesson.course.teacher.fullname %></a>
                                    <p class="text-50 lh-1 mb-0">Instructor</p>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item navbar-list__item">
                            <i class="material-icons text-muted icon--left">schedule</i>
                            <%= lesson.course.total_time %>
                        </li>
                        <li class="nav-item navbar-list__item">
                            <i class="material-icons text-muted icon--left">assessment</i>
                            <%= lesson.course.level %>
                        </li>
                        <li class="nav-item ml-sm-auto text-sm-center flex-column navbar-list__item">
                            <div class="rating rating-24">
                                <div class="rating__item"><i class="material-icons">star</i></div>
                                <div class="rating__item"><i class="material-icons">star</i></div>
                                <div class="rating__item"><i class="material-icons">star</i></div>
                                <div class="rating__item"><i class="material-icons">star</i></div>
                                <div class="rating__item"><i class="material-icons">star_border</i></div>
                            </div>
                            <p class="lh-1 mb-0"><small class="text-muted">20 ratings</small></p>
                        </li>
                    </ul>
                </div>
            </div>



            <div class="page-section bg-white">
                <div class="container page__container">

                    <div class="mb-heading d-flex align-items-center">
                        <div class="flex">
                            <h4 class="card-title">Comments</h4>
                            <p class="card-subtitle">Latest comments</p>
                        </div>
                        <div class="d-flex align-items-center text-right">
                            <a href="#" class="btn btn-outline-secondary btn-sm"><i class="material-icons">keyboard_arrow_left</i></a>
                            <a href="#" class="btn btn-outline-secondary btn-sm ml-8pt"><i class="material-icons">keyboard_arrow_right</i></a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="media">
                                <div class="media-left">
                                    <a href="#" class="avatar avatar-sm">
                                        <img src="assets/images/people/110/guy-9.jpg" alt="Guy" class="avatar-img rounded-circle">
                                    </a>
                                </div>
                                <div class="media-body d-flex flex-column">
                                    <div class="d-flex align-items-center">
                                        <a href="profile.html" class="text-body"><strong>Laza Bogdan</strong></a>
                                        <small class="ml-auto text-muted">27 min ago</small><br>
                                    </div>
                                    <span class="text-muted">on <a href="instructor-edit-course.html" class="text-50" style="text-decoration: underline;">Data Visualization With Chart.js</a></span>
                                    <p class="mt-1 mb-0 text-70">How can I load Charts on a page?</p>
                                </div>
                            </div>
                            <div class="media ml-sm-32pt mt-3 border rounded p-3 bg-light d-inline-flex measure-paragraph-max">
                                <div class="media-left">
                                    <a href="#" class="avatar avatar-sm">
                                        <img src="assets/images/people/110/guy-6.jpg" alt="Guy" class="avatar-img rounded-circle">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <div class="d-flex align-items-center">
                                        <a href="profile.html" class="text-body"><strong>FrontendMatter</strong></a>
                                        <small class="ml-auto text-muted">just now</small>
                                    </div>
                                    <p class="mt-1 mb-0 text-70">Hi Bogdan,<br> Thank you for purchasing our course! <br><br>Please have a look at the charts library documentation <a href="#" class="text-underline">here</a> and follow the instructions.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <form action="#" id="message-reply">
                                <div class="input-group input-group-merge">
                                    <input type="text" class="form-control form-control-appended" required="" placeholder="Quick Reply">
                                    <div class="input-group-append">
                                        <div class="input-group-text pr-2">
                                            <button class="btn btn-flush" type="button"><i class="material-icons">tag_faces</i></button>
                                        </div>
                                        <div class="input-group-text pl-0">
                                            <div class="custom-file custom-file-naked d-flex" style="width: 24px; overflow: hidden;">
                                                <input type="file" class="custom-file-input" id="customFile">
                                                <label class="custom-file-label" style="color: inherit;" for="customFile">
                                                    <i class="material-icons">attach_file</i>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="input-group-text pl-0">
                                            <button class="btn btn-flush" type="button"><i class="material-icons">send</i></button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>



            <% include ../layout/footer %>
        </div>
        <!-- // END Header Layout Content -->

    </div>
    <!-- // END Header Layout -->

  

    <!-- jQuery -->
    <script src="/assets/vendor/jquery.min.js"></script>

    <!-- Bootstrap -->
    <script src="/assets/vendor/popper.min.js"></script>
    <script src="/assets/vendor/bootstrap.min.js"></script>

    <!-- Perfect Scrollbar -->
    <script src="/assets/vendor/perfect-scrollbar.min.js"></script>

    <!-- DOM Factory -->
    <script src="/assets/vendor/dom-factory.js"></script>

    <!-- MDK -->
    <script src="/assets/vendor/material-design-kit.js"></script>

    <!-- Fix Footer -->
    <script src="/assets/vendor/fix-footer.js"></script>

    <!-- Chart.js -->
    <script src="/assets/vendor/Chart.min.js"></script>

    <!-- App JS -->
    <script src="/assets/js/app.js"></script>

    <!-- Highlight.js -->
    <script src="/assets/js/hljs.js"></script>

    <!-- App Settings (safe to remove) -->
    <script src="/assets/js/app-settings.js"></script>




</body>


<!-- Mirrored from tutorio-bootstrap.frontendmatter.com/student-take-lesson.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 09 Jul 2019 02:22:49 GMT -->
</html>