<!DOCTYPE html>
<html lang="en" dir="ltr">


<!-- Mirrored from tutorio-bootstrap.frontendmatter.com/student-take-course.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 09 Jul 2019 02:22:49 GMT -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Take Course</title>

    <!-- Prevent the demo from appearing in search engines -->
    <meta name="robots" content="noindex">

    <!-- Perfect Scrollbar -->
    <link type="text/css" href="/assets/vendor/perfect-scrollbar.css" rel="stylesheet">

    <!-- Fix Footer CSS -->
    <link type="text/css" href="/assets/vendor/fix-footer.css" rel="stylesheet">

    <!-- Material Design Icons -->
    <link type="text/css" href="/assets/css/material-icons.css" rel="stylesheet">
    <link type="text/css" href="/assets/css/material-icons.rtl.css" rel="stylesheet">

    <!-- Font Awesome Icons -->
    <link type="text/css" href="/assets/css/fontawesome.css" rel="stylesheet">
    <link type="text/css" href="/assets/css/fontawesome.rtl.css" rel="stylesheet">

    <!-- Preloader -->
    <link type="text/css" href="/assets/css/preloader.css" rel="stylesheet">
    <link type="text/css" href="/assets/css/preloader.rtl.css" rel="stylesheet">

    <!-- App CSS -->
    <link type="text/css" href="/assets/css/app.css" rel="stylesheet">
    <link type="text/css" href="/assets/css/app.rtl.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>

    <script>
    function clickBuy() {
        Swal.fire({
        title: '<strong>Billing Information</strong>',
        html:
            '<b>Bank name:</b> Your bank name<br>' +
            '<b>ID: </b> Your Bank account number<br>' +
            '<b>Recipient is name: </b> Name<br>' +
            '<b>Content: </b> pay for course + your username<br>',
        showCloseButton: true,
        showCancelButton: true,
        focusConfirm: false,
        
        })
    }
    function trailer() {
        Swal.fire({
        title: '<strong>Trailer</strong>',
        html:
            `
            <video width="400" controls>
                <source src="/upload/video/<%= course.trailer %>" type="video/*">
            </video>
            `,
        showCloseButton: true,
        // showCancelButton: true,
        focusConfirm: false,
        // confirmButtonText:false
        })
    }
    
    </script>





</head>

<body class="layout-navbar-mini-fixed-bottom">

    <div class="preloader">
        <div class="sk-double-bounce">
            <div class="sk-child sk-double-bounce1"></div>
            <div class="sk-child sk-double-bounce2"></div>
        </div>
    </div>

    <!-- Header Layout -->
    <div class="mdk-header-layout js-mdk-header-layout">

        <!-- Header -->

        <!-- Header -->
        <% if (infoStudent == null) { %>
            <%- include('../layout/header', {getInfo}); %>
        <% } else{  %>
        <%- include('../layout/header-dashboard', {avatar: infoStudent.user.avatar}); %>
        <% } %>


        <!-- // END Header -->

        <!-- Header Layout Content -->
        <div class="mdk-header-layout__content page-content ">

            <div class="mdk-box bg-dark mdk-box--bg-gradient-primary js-mdk-box mb-0" data-effects="blend-background">
                <div class="mdk-box__content">
                    <div class="hero py-64pt text-center text-sm-left">
                        <div class="container">
                                <h1 class="text-white"><%= course.name %></h1><!-- <div class="more" id="more"> -->
                                        <p id="frist1" class="lead text-white-50 measure-hero-lead"></p>
                                        <p id="frist" class="lead text-white-50 measure-hero-lead"></p>
                                        <div id="last1">
                                            <p  class="lead text-white-50 measure-hero-lead"><%= course.description %> <a id="less" class="text-white">Show less</a></p>
                                            <div class="mb-4"></div>
                                        </div>
                                    <script type="text/javascript">
                                    $("#last1").hide();
                                    var str = $("#last1").text();
                                    // console.log(str)
                                    if (str.length > 150) {
                                        var res = str.slice(0, 150)+ "..." + '<a id="more" class="text-white"> Show more </a>';
                                        document.getElementById("frist").innerHTML= res;
                                    } else {
                                        document.getElementById("frist").innerHTML= str;
                                        $(".less").hide();
                                    }
                                    // console.log(res)
                                    $(document).ready(function(){
                                    $("#more").click(function(){
                                        $("#frist").hide();
                                        $("#last1").show();
                                    });
                                    $("#less").click(function(){
                                        $("#last1").hide();
                                        $("#frist").show();
                                    });
                                    });
                                                                    
                                     </script>
                            <a href="/course/<%= course._id%>" class="btn btn-white">Resume course</a>
                            <% if(!bought){ %>
                            <a onclick="clickBuy()" class="btn btn-white">Buy course</a>
                            <% }; %>

                        </div>
                    </div>
                    <div
                        class="navbar navbar-expand-sm navbar-submenu navbar-light navbar-list p-0 m-0 align-items-center">
                        <div class="container page__container">
                            <ul class="nav navbar-nav flex align-items-sm-center">
                                <li class="nav-item navbar-list__item">
                                    <div class="media align-items-center">
                                        <span class="media-left mr-16pt">
                                            <img src="/avatar/<%= course.teacher.avatar %>" width="40" alt="avatar"
                                                class="rounded-circle">
                                        </span>
                                        <div class="media-body">
                                            <a class="card-title m-0"
                                                href="/profile/<%= course.teacher._id %>"><%= course.teacher.fullname %></a>
                                            <p class="text-50 lh-1 mb-0">Teacher</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="nav-item navbar-list__item">
                                    <i class="material-icons text-muted icon--left">schedule</i>
                                    <%= course.total_time %>
                                </li>
                                <li class="nav-item navbar-list__item">
                                    <i class="material-icons text-muted icon--left">assessment</i>
                                    <%= course.level %>
                                </li>
                                <li class="nav-item ml-sm-auto text-sm-center flex-column navbar-list__item">
                                    <div class="rating rating-24">
                                        <div class="inline-block" id="ks2-<%= course._id %>"></div>
                                    <script>
                                        var dataArray = <%- JSON.stringify(course.ratings) %>;
                                        var array='';
                                        var sum = 0;
                                        for (let i = 0; i < dataArray.length; i++) {
                                            sum += dataArray[i]*1;
                                        }
                                        var result = sum / dataArray.length;
                                        for (let i = 0; i < 5; i++) {
                                            if (i < result) {
                                                array+='<span class="rating__item"><span class="material-icons">star</span>';
                                            }
                                            else{
                                                array+='<span class="rating__item"><span class="material-icons">star_border</span>';
                                            }
                                        }
                                        //console.log(dataArray)
                                        document.getElementById("ks2-<%= course._id %>").innerHTML = array;
                                    </script>
                                    </div>
                                    <p class="lh-1 mb-0"><small class="text-muted"><%= course.ratings.length - 1  %> ratings</small></p>
                                </li>
                                <% if (checkRating == null) { %>
                                    <li class="nav-item navbar-list__item">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-accent dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ratings</button>
                                        <div class="dropdown-menu">
                                          <a class="dropdown-item" href="#">You need to complete the course first</a>
                                        </div>
                                      </div>
                                    </li>
                                <% } else {  %> 
                                    <li class="nav-item navbar-list__item">
                                        <form action="" method="">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-accent dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ratings</button>
                                                <div class="dropdown-menu">
                                                  <a class="dropdown-item" href="/course/s/c/rating/<%= course._id %>/5"><span class="rating__item"><span class="material-icons">star</span><span class="rating__item"><span class="material-icons">star</span><span class="rating__item"><span class="material-icons">star</span><span class="rating__item"><span class="material-icons">star</span><span class="rating__item"><span class="material-icons">star</span></a>
                                                  <a class="dropdown-item" href="/course/s/c/rating/<%= course._id %>/4"><span class="rating__item"><span class="material-icons">star</span><span class="rating__item"><span class="material-icons">star</span><span class="rating__item"><span class="material-icons">star</span><span class="rating__item"><span class="material-icons">star</span></a>
                                                  <a class="dropdown-item" href="/course/s/c/rating/<%= course._id %>/3"><span class="rating__item"><span class="material-icons">star</span><span class="rating__item"><span class="material-icons">star</span><span class="rating__item"><span class="material-icons">star</span></a>
                                                  <a class="dropdown-item" href="/course/s/c/rating/<%= course._id %>/2"><span class="rating__item"><span class="material-icons">star</span><span class="rating__item"><span class="material-icons">star</span></a>
                                                  <a class="dropdown-item" href="/course/s/c/rating/<%= course._id %>/1"><span class="rating__item"><span class="material-icons">star</span></a>
                                                </div>
                                              </div>
                                        </form>
                                    </li>
                                <% } %>
                                
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container page__container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="border-left-2 page-section pl-32pt">
                            <div class="d-flex align-items-center page-num-container">
                                <div class="page-num">0</div>
                                <h4>Video: </h4>
                            </div>

                            <p class="text-70 mb-24pt"> Trailer of course</p>
                            <% let i=1; course.lessons.forEach(function(lesson){ %>
                            <div class="d-flex align-items-center page-num-container">
                                <div class="page-num"><%= i %></div>
                                <h4><%= lesson.title %></h4>
                            </div>

                            <p class="text-70 mb-24pt"><%= lesson.description %></p>

                            <div class="card mb-32pt mb-lg-64pt">
                                <ul class="accordion accordion--boxed js-accordion mb-0" id="toc-1">
                                    <li class="accordion__item open">
                                        <a class="accordion__toggle" data-toggle="collapse" data-parent="#toc-1"
                                            href="#toc-content-1">
                                            <span class="flex">1 of 4 Steps</span>
                                            <span
                                                class="accordion__toggle-icon material-icons">keyboard_arrow_down</span>
                                        </a>
                                        <div class="accordion__menu">
                                            <ul class="list-unstyled collapse show" id="toc-content-1">
                                                <li class="accordion__menu-link">
                                                    <span
                                                        class="material-icons icon-16pt icon--left text-body">check_circle</span>
                                                    <a class="flex" href="/lesson/<%= lesson._id %>">Introduction</a>
                                                    <span class="text-muted"></span>
                                                </li>
                                                <li class="accordion__menu-link">
                                                    <span
                                                        class="material-icons icon-16pt icon--left text-body">play_circle_outline</span>
                                                    <a class="flex" href="/lesson/<%= lesson._id %>">Video</a>
                                                    <span class="text-muted"></span>
                                                </li>
                                                <li class="accordion__menu-link">
                                                    <span
                                                        class="material-icons icon-16pt icon--left text-body">play_circle_outline</span>
                                                    <a class="flex" href="/lesson/<%= lesson._id %>">Document</a>
                                                    <span class="text-muted"></span>
                                                </li>
                                                <li class="accordion__menu-link">
                                                    <span
                                                        class="material-icons icon-16pt icon--left text-50">hourglass_empty</span>
                                                    <a class="flex" href="/lesson/<%= lesson._id %>">Quiz: Getting
                                                        Started With Angular</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <% i+= 1; }); %>

                        </div>
                    </div>
                    <div class="col-lg-5 border-left-md pt-sm-32pt pt-md-0 d-flex flex-column align-items-center ">
                        <div class="text-center mt-24pt">
                            <p class="mb-16pt">
                                <img src="/avatar/<%= course.teacher.avatar %>" alt="guy-6" class="rounded-circle"
                                    width="64">
                            </p>
                            <h4 class="m-0"><%= course.teacher.fullname %></h4>
                            <!-- <p class="lh-1">
                                <small class="text-muted">Angular, Web Development</small>
                            </p> -->
                            <div class="d-flex flex-column flex-sm-row align-items-center justify-content-start">
                                <!-- <a href="instructor-profile.html"
                                    class="btn btn-outline-primary mb-16pt mb-sm-0 mr-sm-16pt">Follow</a> -->
                                <a href="/profile/<%= course.teacher._id %>" class="btn btn-outline-secondary">View Profile</a>
                            </div>
                        </div>
                        <div class="mb-24pt mb-md-0">
                            <!-- <h4 text-align="center">About the author</h4> -->
                            <p class="text-70 mt-24pt mb-24pt"><%= course.teacher.about %></p>

                            <!-- <h4>More from the author</h4>
                            <div class="list-group list-group-flush">
                                <div class="list-group-item px-0">
                                    <a href="#" class="d-block mb-4pt">Angular Best Practices</a>
                                    <p class="lh-1 mb-0">
                                        <small class="text-muted mr-8pt">6h 40m</small>
                                        <small class="text-muted mr-8pt">13,876 Views</small>
                                        <small class="text-muted">13 May 2018</small>
                                    </p>
                                </div>
                                <div class="list-group-item px-0">
                                    <a href="#" class="d-block mb-4pt">Unit Testing in Angular</a>
                                    <p class="lh-1 mb-0">
                                        <small class="text-muted mr-8pt">6h 40m</small>
                                        <small class="text-muted mr-8pt">13,876 Views</small>
                                        <small class="text-muted">13 May 2018</small>
                                    </p>
                                </div>
                                <div class="list-group-item px-0">
                                    <a href="#" class="d-block mb-4pt">Migrating Applications from AngularJS to Angular</a>
                                    <p class="lh-1 mb-0">
                                        <small class="text-muted mr-8pt">6h 40m</small>
                                        <small class="text-muted mr-8pt">13,876 Views</small>
                                        <small class="text-muted">13 May 2018</small>
                                    </p>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="bg-white border-top-2">




            </div>


            <div class="page-section">
                <div class="container page__container">
                    <div class="page-heading">
                        <h4>Top Development Courses</h4>
                        <a href="#" class="text-underline ml-sm-auto">See Development Courses</a>
                    </div>



                    <div class="position-relative carousel-card">
                        <div class="js-mdk-carousel row d-block" id="carousel-courses1">

                            <a class="carousel-control-next js-mdk-carousel-control mt-n24pt" href="#carousel-courses1"
                                role="button" data-slide="next">
                                <span class="carousel-control-icon material-icons"
                                    aria-hidden="true">keyboard_arrow_right</span>
                                <span class="sr-only">Next</span>
                            </a>

                            <div class="mdk-carousel__content">
                                <% topcourse.forEach(function(course){ %>
                                <div class="col-12 col-sm-6 col-md-4 col-xl-3">

                                    <div class="card card--elevated card-course overlay js-overlay mdk-reveal js-mdk-reveal "
                                        data-partial-height="40" data-toggle="popover" data-trigger="click">


                                        <a href="/course/<%= course._id %>" class="js-image" data-position="">
                                            <img src="/upload/images/<%= course.avatar %>" width="250" height="150"
                                                alt="course">
                                            <span class="overlay__content">
                                                <span class="overlay__action d-flex flex-column text-center">
                                                    <i class="material-icons">play_circle_outline</i>
                                                    <small>Preview course</small>
                                                </span>
                                            </span>
                                        </a>

                                        <span
                                            class="corner-ribbon corner-ribbon--default-right-top corner-ribbon--shadow bg-accent text-white">NEW</span>

                                        <div class="mdk-reveal__content">
                                            <div class="card-body">
                                                <div class="d-flex">
                                                    <div class="flex">
                                                        <a class="card-title"
                                                            href="/course/<%= course._id %>"><%= course.name %></a>
                                                        <small
                                                            class="text-50 font-weight-bold mb-4pt"><%= course.teacher.fullname %></small>
                                                    </div>
                                                    <a href="course.html"
                                                        class="ml-4pt material-icons text-20 card-course__icon-favorite">favorite</a>
                                                </div>
                                                <div class="d-flex">
                                                        <div class="inline-block" id="ks2-<%= course._id %>"></div>
                                                        <script>
                                                            var dataArray = <%- JSON.stringify(course.ratings) %>;
                                                            var array='';
                                                            var sum = 0;
                                                            for (let i = 0; i < dataArray.length; i++) {
                                                                sum += dataArray[i]*1;
                                                            }
                                                            var result = sum / dataArray.length;
                                                            for (let i = 0; i < 5; i++) {
                                                                if (i < result) {
                                                                    array+='<span class="rating__item"><span class="material-icons">star</span>';
                                                                }
                                                                else{
                                                                    array+='<span class="rating__item"><span class="material-icons">star_border</span>';
                                                                }
                                                            }
                                                            //console.log(dataArray)
                                                            document.getElementById("ks2-<%= course._id %>").innerHTML = array;
                                                        </script>
                                                 
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="popoverContainer d-none">
                                        <div class="media">
                                            <div class="media-left">
                                                <img src="/upload/images/<%= course.avatar %>" width="40" height="40"
                                                    alt="Angular" class="rounded">
                                            </div>
                                            <div class="media-body">
                                                <div class="card-title mb-0"><%= course.name %></div>
                                                <p class="lh-1 mb-0">
                                                    <span class="text-black-50 small">with</span>
                                                    <span
                                                        class="text-black-50 small font-weight-bold"><%= course.teacher.fullname %></span>
                                                </p>
                                            </div>
                                        </div>

                                        <p class="my-16pt text-black-70"><%= course.description %></p>


                                        <div class="row align-items-center">
                                            <div class="col-auto">
                                                <div class="d-flex align-items-center mb-4pt">
                                                    <span
                                                        class="material-icons icon-16pt text-black-50 mr-4pt">access_time</span>
                                                    <p class="flex text-black-50 lh-1 mb-0">
                                                        <small><%= course.total_time %></small></p>
                                                </div>
                                                <div class="d-flex align-items-center mb-4pt">
                                                    <span
                                                        class="material-icons icon-16pt text-black-50 mr-4pt">play_circle_outline</span>
                                                    <p class="flex text-black-50 lh-1 mb-0">
                                                        <small><%= course.lessons.length %></small></p>
                                                </div>
                                                <div class="d-flex align-items-center">
                                                    <span
                                                        class="material-icons icon-16pt text-black-50 mr-4pt">assessment</span>
                                                    <p class="flex text-black-50 lh-1 mb-0">
                                                        <small><%= course.level %></small></p>
                                                </div>
                                            </div>
                                            <div class="col text-right">
                                                <a href="/course/<%= course._id %>" class="btn btn-primary">Watch
                                                    trailer</a>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                                <% }); %>
                            </div>
                        </div>
                    </div>



                </div>
            </div>



            <% include ../layout/footer %>

        </div>
        <!-- // END Header Layout Content -->

    </div>
    <!-- // END Header Layout -->
    <%- include('../layout/modal',{allcourse}) %>


    <!-- jQuery -->
    <script src="/assets/vendor/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="/assets/vendor/popper.min.js"></script>
    <script src="/assets/vendor/bootstrap.min.js"></script>

    <!-- Perfect Scrollbar -->
    <script src="/assets/vendor/perfect-scrollbar.min.js"></script>

    <!-- DOM Factory -->
    <script src="/assets/vendor/dom-factory.js"></script>

    <!-- MDK -->
    <script src="/assets/vendor/material-design-kit.js"></script>

    <!-- Fix Footer -->
    <script src="/assets/vendor/fix-footer.js"></script>

    <!-- Chart.js -->
    <script src="/assets/vendor/Chart.min.js"></script>

    <!-- App JS -->
    <script src="/assets/js/app.js"></script>

    <!-- Highlight.js -->
    <script src="/assets/js/hljs.js"></script>

    <!-- App Settings (safe to remove) -->
    <script src="/assets/js/app-settings.js"></script>




</body>


<!-- Mirrored from tutorio-bootstrap.frontendmatter.com/student-take-course.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 09 Jul 2019 02:22:49 GMT -->

</html>