    <!-- Modal -->
    <div class="modal courses-modal" id="courses" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-i8-plus bg-body pr-0">
                            <div class="py-16pt pl-16pt menu">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link active" href="#courses-development"
                                            data-toggle="tab">Artificial Intelligence</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#courses-design" data-toggle="tab">Internet of things</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#courses-photography"
                                            data-toggle="tab">Web development</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#courses-marketing" data-toggle="tab">Language</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#courses-business" data-toggle="tab">Stem</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-6 col-i8-plus-auto tab-content">


                            <div id="courses-development" class="tab-pane show active">
                                <div class="row no-gutters">
                                    <div class="col-md-6 p-0">
                                        <div class="p-24pt d-flex h-100 flex-column">
                                            <div class="flex">
                                                <h5 class="text-black-100">Courses</h5>
                                                <ul class="nav flex-column mb-24pt">
                                                    <% if (allcourse) { %>
                                                        <% allcourse.forEach(function(e) { %>
                                                            <% if (e.tag.length > 0) { %>
                                                                <% for (let i = 0; i < e.tag.length; i++) { %>
                                                                    <% if (e.tag[i] == "AI") { %>
                                                                        <li class="nav-item">
                                                                            <a class="nav-link px-0" href="/course/<%= e._id %>"><%= e.name %></a>
                                                                        </li>
                                                                    <% } %>
                                                                <% } %>
                                                            <% } %>     
                                                        <% }); %>
                                                    <% } else{  %> 
                                                        <h1>The topic has no course</h1>
                                                    <% } %> 
                                                    

                                                </ul>
                                            </div>
                                            
                                        </div>
                                    </div>
                                   
                                </div>
                            </div>


                            <div id="courses-design" class="tab-pane">
                                <div class="row no-gutters">
                                    <div class="col-md-12 p-0">
                                        <div class="p-24pt d-flex h-100 flex-column">
                                            <div class="flex">
                                                <h5 class="text-black-100">Courses</h5>
                                                <ul class="nav flex-column mb-24pt">

                                                    <% if (allcourse) { %>
                                                        <% allcourse.forEach(function(e) { %>
                                                            <% if (e.tag.length > 0) { %>
                                                                <% for (let i = 0; i < e.tag.length; i++) { %>
                                                                    <% if (e.tag[i] == "Internet of things") { %>
                                                                        <li class="nav-item">
                                                                            <a class="nav-link px-0" href="/course/<%= e._id %>"><%= e.name %></a>
                                                                        </li>
                                                                    <% } %>
                                                                <% } %>
                                                            <% } %>     
                                                        <% }); %>
                                                    <% } else{  %> 
                                                        <h1>The topic has no course</h1>
                                                    <% } %> 

                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                
                                </div>
                            </div>


                            <div id="courses-photography" class="tab-pane">
                                <div class="row no-gutters">
                                    <div class="col-md-12 p-0">
                                        <div class="p-24pt d-flex h-100 flex-column">
                                            <div class="flex">
                                                <h5 class="text-black-100">Courses</h5>
                                                <ul class="nav flex-column mb-24pt">

                                                    <% if (allcourse) { %>
                                                        <% allcourse.forEach(function(e) { %>
                                                            <% if (e.tag.length > 0) { %>
                                                                <% for (let i = 0; i < e.tag.length; i++) { %>
                                                                    <% if (e.tag[i] == "Web development") { %>
                                                                        <li class="nav-item">
                                                                            <a class="nav-link px-0" href="/course/<%= e._id %>"><%= e.name %></a>
                                                                        </li>
                                                                    <% } %>
                                                                <% } %>
                                                            <% } %>     
                                                        <% }); %>
                                                    <% } else{  %> 
                                                        <h1>The topic has no course</h1>
                                                    <% } %> 

                                                </ul>
                                            </div>
                                           
                                        </div>
                                    </div>
                                   
                                </div>
                            </div>


                            <div id="courses-marketing" class="tab-pane">
                                <div class="row no-gutters">
                                    <div class="col-md-12 p-0">
                                        <div class="p-24pt d-flex h-100 flex-column">
                                            <div class="flex">
                                                <h5 class="text-black-100">Courses</h5>
                                                <ul class="nav flex-column mb-24pt">

                                                    
                                                    <% if (allcourse) { %>
                                                        <% allcourse.forEach(function(e) { %>
                                                            <% if (e.tag.length > 0) { %>
                                                                <% for (let i = 0; i < e.tag.length; i++) { %>
                                                                    <% if (e.tag[i] == "Language") { %>
                                                                        <li class="nav-item">
                                                                            <a class="nav-link px-0" href="/course/<%= e._id %>"><%= e.name %></a>
                                                                        </li>
                                                                    <% } %>
                                                                <% } %>
                                                            <% } %>     
                                                        <% }); %>
                                                    <% } else{  %> 
                                                        <h1>The topic has no course</h1>
                                                    <% } %> 

                                                </ul>
                                            </div>
                                           
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>


                            <div id="courses-business" class="tab-pane">
                                <div class="row no-gutters">
                                    <div class="col-md-12 p-0">
                                        <div class="p-24pt d-flex h-100 flex-column">
                                            <div class="flex">
                                                <h5 class="text-black-100">Courses</h5>
                                                <ul class="nav flex-column mb-24pt">

                                                    <% if (allcourse) { %>
                                                        <% allcourse.forEach(function(e) { %>
                                                            <% if (e.tag.length > 0) { %>
                                                                <% for (let i = 0; i < e.tag.length; i++) { %>
                                                                    <% if (e.tag[i] == "STEM") { %>
                                                                        <li class="nav-item">
                                                                            <a class="nav-link px-0" href="/course/<%= e._id %>"><%= e.name %></a>
                                                                        </li>
                                                                    <% } %>
                                                                <% } %>
                                                            <% } %>     
                                                        <% }); %>
                                                    <% } else{  %> 
                                                        <h1>The topic has no course</h1>
                                                    <% } %> 

                                                </ul>
                                            </div>
                                           
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>

                        </div>
                    </div>
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
    </div>